@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-image: url(/images/496356.jpg);
	background-color: rgba(0, 0, 0, 0.6);
	background-blend-mode: hue;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
	background-color: #ffffffe1;
}

.header {
	display: flex;
	justify-content: space-between;
}

.header-nav {
	display: flex;
	gap: 60px;
	list-style: none;
	padding: 14px;
}

.header-nav li a {
	color: #ffffff;
	text-decoration: none;
	background-color: #e8bf81;
	padding: 9px;
	box-shadow: 1px 2px 29px 15px rgba(0, 0, 0, 0.12);
	border-radius: 2px;
}

.header-nav li a:hover {
	background-color: #e4ba7b;
	transition: 0.3s all;
	/* background-color: #008000; */
}

.logo {
	padding: 8px;
	background-color: #e8bf81;
	box-shadow: 1px 2px 29px 15px rgba(0, 0, 0, 0.12);
	height: 37px;
	margin-top: 5px;
	cursor: pointer;
	border-radius: 2px;
}

.logo img {
	margin-top: -2px;
}

.logo:hover {
	padding: 8px;
	background-color: #e7bb7a;
	box-shadow: 1px 2px 29px 15px rgba(0, 0, 0, 0.12);
	height: 37px;
	margin-top: 5px;
	cursor: pointer;
	transition: 0.3s all;
}

main {
	width: 700px;
	margin: 0 auto;
	text-align: center;
	align-items: center;
}

.main {
	display: flex;
	width: 130px;
}

.custom-input {
	display: flex;
	flex-direction: column;
	margin: 150px;
	background-color: #e8bf814b;
	box-shadow: 1px 2px 29px 15px rgba(0, 0, 0, 0.15);
	padding: 14px;
	height: 250px;
}

.custom-input p{
    color: #ffffffdf;
}

#login-custom {
	padding-bottom: 20px;
	color: #ffffffdf;
    margin-top: 30px;
}

input[type="email"],
input[type="password"] {
	border-radius: 2px;
	background-color: #e8bf814b;
	border: solid 1px #3f3d3d;
	margin: 1px;
	font-weight: bold;
	height: 25px;
}

input[type="submit"] {
    color: #ffffff;
	background-color: #e4ba7b; 
	border-radius: 2px;
	border: solid 1px #3f3d3db9;
	height: 25px;
	cursor: pointer;
	font-weight: bold;
}

input[type="submit"]:hover{
	background-color: #e7b871; 
}

input::placeholder{
	color: #3f3d3da7;
}

footer{
	background-color: #ffffffe1;
	bottom: 0;
	position: fixed;
	width: 100%;
}

.footer-custom{
	width:100%;
    margin: 0 auto;
}

.footer-custom p{
	padding: 14px;
	color: #b8bbbf;
}




